// Base
// -----------------------------
// Global styles applied on every page to help "mobilize"

html {
  height: 100%;
  overflow: auto !important;
}

body {
  -webkit-text-size-adjust: none;   // stop zoom on rotation
  background: $body_background_color;
  color: $text_black;
  font-family: $font_family;
  position: relative;
  min-height: 100%;
  overflow: hidden;
}

a {
  color: $link_color;
  text-decoration: none;
  word-wrap: break-word;
}

// Don't show the highlight of a link when tapped
a, a:link {
  -webkit-tap-highlight-color: rgba(229, 82, 19, 0.5);
}

img {
  max-width: 100%;
  height: auto;
}

// Super and Sub
sup, sub{
  height: 0;
  line-height: 1;
  vertical-align: baseline;
  _vertical-align: bottom;
  position: relative;
  font-size: 12px;
}
sup {
  bottom: 1ex;
}

sub {
  top: .5ex;
}

// Don't show type number rotator, its just silly
input[type="number"]::-webkit-outer-spin-button {
  display: none;
}
* {
  -webkit-touch-callout: none;
  @include box-sizing(border-box);
}

.mw-clearfix-box {
  @include clearfix;
}
.mw-hide {
  display: none;
}

//------------------------------------------------------------------------------


#Wrapper{
  .ProductList{
    strong a{
      color: $color5;
    }
    ul{
      background-color: $color5;
    }
    li{
      list-style-type: none;
      width: 150px;
      // max-width: 45%;
      height: 200px;
      // text-align: center;
      .ProductImage{
        height: 50%;
        max-height: 120px;
        min-height: 100px;
        display: table;
        a{
          vertical-align: middle;
          display: table-cell;
          img{
            display: block;
            height: 120px;
          }
        }
      }
      .ProductDetails{
        height: 13%;
        font-size: $text_font - 1px;
        *{
          color: $black;
        }
      }
      .ProductPriceRating{
        width: 100%;
        height: 13%;
      }
      .ProductActionAdd{ 
        @extend .mw_btn1;
        text-align: center;
        border-radius: 5px;
        a{
          display: table-cell;
          height: 40px;
          width: 135px;
          vertical-align: middle;
          font-size: 14px;
        }
      } 

    }
  }
}



[data-ur-set="carousel"] {
  overflow: hidden;
  position: relative;
}
[data-ur-carousel-component="item"] {
  float: left;
}
[data-ur-carousel-component="dot"] {
  margin: 20px 1px;
}










